* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    line-height: 1.6;
}

header {
    background: #3409f0;
    color: white;
    padding: 15px;
    text-align: center;
}

header nav a {
    color: white;
    margin: 0 12px;
    text-decoration: none;
}

header nav a:hover {
    text-decoration: underline;
}

section {
    padding: 25px 20px;
    border-bottom: 1px solid #ccc;
}

section h2 {
    margin-bottom: 12px;
    color: #d41717;
}

ul {
    list-style: square;
    margin-left: 20px;
}

pre {
    background: #f4f4f4;
    padding: 10px;
    border: 1px solid #ddd;
    margin-bottom: 15px;
    font-family: monospace;
}

footer {
    text-align: center;
    background: #0c0c0b;
    color: white;
    padding: 12px;
}

img {
    display: block;
    margin: auto;
    margin-top: 15px;
}
#introduction {
    background-color: #f9f9f9;
    padding: 20px;
    border-left: 5px solid #ffae00;
    margin-bottom: 30px;
}

#introduction p {
    margin-bottom: 10px;
    text-align: justify;
}
